# Ignore everything
**

# Allow some things
!/dao_analyzer/**
!/test/**
!/cache_scripts/**
!/gunicorn_config.py
!/index.py
!/LICENSE
!/requirements.txt
!/init.sh
!/setup.py
!/ABOUT.md
!/README.md
# If there is already a datawarehouse, it will be updated
!/datawarehouse

# Ignore again
**/__pycache__/
