# Ignore everything
**


# Allow some things

## Building
!/pyproject.toml
!/setup.cfg
!/setup.py
### Allow git folder for setuptools_scm (delete it after)
!/.git

## Deploy
!/requirements_docker.txt
!/gunicorn_config.py
!/index.py
!/init.sh
### If there is already a datawarehouse, it will be updated
!/datawarehouse

## Package
!/dao_analyzer/**
!/cache_scripts/**
!/LICENSE
!/ABOUT.md
!/README.md

# Ignore again
**/__pycache__/
