# Ignore everything
**

# Allow some things
!/src/**
!/test/**
!/cache_scripts/**
!/gunicorn_config.py
!/index.py
!/LICENSE
!/README.md
!/ABOUT.md
!/requirements.txt
!/init.sh
# If there is already a datawarehouse, it will be updated
!/datawarehouse

# Ignore again
**/__pycache__/
