dash >= 2.0.0
flask >= 2.0.2
gql >= 3.0.0a1 
gunicorn >= 20.1.0
numpy >= 1.17.3
pandas >= 1.3.4
portalocker >= 2.3.2
pyarrow >= 6.0.0
requests >= 2.26.0
requests-cache >= 0.8.1
requests-toolbelt >= 0.9.1
tqdm >= 4.62.3