@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --text-accent-color: #500B89;
    --content-padding-x: 2rem;
    --back-color: var(--bs-gray-200);
    --front-color: var(--bs-white);
    --bs-body-color: #383838;
    --footer-background: #2F2F2F;
}

.root {
    background-color: var(--back-color);
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

/*********************/
/*    HEADER         */
.main-header {
    min-height: 10rem;
    padding-top: 1rem;
    width: 100%;
    background-image: url("/assets/img_header.jpg");
    background-position: center;
    background-color: #240457;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-things-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #74CAE8;
    width: fit-content;
}

.header-text {
    display: block;
    font-weight: 300;
    width: fit-content;
    margin-top: -0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.header-logo {
    display: block;
    height: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/*********************/

/*********************/
/*      BODY         */

/****** Body-Header ***/
.body-header {
    justify-content: space-around;
    z-index: 2;
    position: relative;
}

.tab-container {
    margin-left: calc(-1* var(--content-padding-x));
    margin-right: calc(-1* var(--content-padding-x));
}

.ecosystems-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.ecosystem {
    height: 50px;
    width: 100px;
    border: 3px solid transparent;
    box-sizing: content-box;
}

.ecosystem-overlay {
    position: relative;
    float: left;
    opacity: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.ecosystem-overlay:hover {
    opacity: 0.4;
    cursor: pointer;
}

.ecosystem-img {
    position: relative;
    top: -50px;
    height: auto;
    max-width: 100px;
    max-height: 100%;
}

.daostack-color {
    background-color: #74CAE8;
}

.aragon-color {
    background-color: #4DDEA4;
}

.daohaus-color {
    background-color: #9960B1;
}

.daostack-selected, .daostack-ecosystem:hover {
    border-color: #74CAE8;
}

.aragon-selected, .aragon-ecosystem:hover {
    border-color: #4DDEA4;
}

.daohaus-selected, .daohaus-ecosystem:hover {
    border-color: #9960B1;
}

@media (min-width: 768px) {
    .row-divider > .col:nth-child(n+2) {
        border-left: 1px solid #E8DFF0;
    }
}

/*********************/

/****** Dao-Info *****/
.dao-header-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
    align-items: stretch;
}

.dao-info-container {
    display: grid;
    color: #3B393B;
    line-height: 1.2;
    grid-template-columns: auto 1fr;
    column-gap: 40px;
    align-items: baseline;
}

.dao-info-name {
    font-size: 2.5em;
    font-weight: 100;
}

.dao-info-network {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.dao-info-address {
    font-size: 1em;
}

.dao-info-label {
    font-size: small;
    color: gray;
    text-transform: uppercase;
}
/*********************/

/***** DAO SUMMARY ******/
.dao-summary-container {
    color: #676467;
    background-color: #F8F7F8;
    border: 1px solid #E8DFF0;
}

.dao-summary-hdr {
    border-bottom: 1px solid var(--text-accent-color);
    font-size: small;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.dao-summary-hdr:empty {
    display: none;
}

.dao-summary-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.dao-summary-datapoint {
    padding: 5px;
}

.dao-summary-datapoint-title {
    text-transform: uppercase;
    font-size: small;
}

.dao-summary-datapoint-number {
    font-size: xx-large;
    font-weight: 100;
    color: var(--text-accent-color);
}

.dao-summary-datapoint-lastmonth {
    font-size: small;
    text-transform: capitalize;
}

.dao-summary-datapoint-evolution {
    color: var(--text-accent-color);
    font-size: small;
}

.dp-icon-up {
    color: #4ddea4;
}

.dp-icon-down {
    color: #ea44cd;
}
/************************/

/****** Body *********/
.top {
    margin-top: -3vh;
}

.body {
    background-color: var(--front-color);
    padding-right: var(--content-padding-x);
    padding-left: var(--content-padding-x);
}

.tab {
    font-weight: 300;
    text-transform: uppercase;
    color: var(--text-accent-color);
    border: 0 !important;
}

.tab.tab--selected {
    font-weight: normal;
    border-top: 2px solid var(--text-accent-color)!important;
    border-left: 1px solid #E8DFF0!important;
    border-right: 1px solid #E8DFF0!important;
}

.tab:first-child {
    border-left: 0 !important;
}

.tab:last-child {
    border-right: 0 !important;
}

.section-hdr {
    margin-bottom: 2rem;
}

.section-title {
    color: #676467;
    font-size: 2em;
    font-weight: 100;

    /* Break long names and URLS */
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.section-disclaimer {
    color: gray;
}

.graph-pane-title {
    font-weight: bolder;
    font-size: large;
}

.chart-header {
    margin-bottom: -1rem;
    z-index: 2;
}

@media screen and (max-width: 1280px) {
    .chart-header {
        margin-bottom: 0;
    }
}

.chart {
    margin-bottom: 4rem;
}

.only-on-all-orgs {
    display: none;
}

.is-all-orgs .only-on-all-orgs {
    display: block;
}

/*********************/
/*********************/

/*********************/
/*      FOOT         */

footer {
    min-height: 10rem;
    background-color: var(--footer-background);
    color: #CCCCCC;
    font-size: x-small;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer .container {
    padding-left: var(--content-padding-x);
    padding-right: var(--content-padding-x);
}

.foot-left {
    justify-content: space-evenly;
}

.footer-logos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.foot-ack-logos {
    margin-right: 1.5rem;
    justify-content: space-around;
}

.sponsor-img {
    max-height: 70px;
}

@media screen and (max-width: 1280px) {
    .main-foot {
        font-size: xx-small;
    }

    .sponsor-img {
        max-height: 50px;
    }
}

@media screen and (min-width: 1920px) {
    .main-foot {
        font-size: small;
    }
}

/*********************/

/*************************/
/*      Aligners         */
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
/*********************/

/*********************/
/*      URL         */
.url-color {
    text-decoration: none;
}

.url-color:link {
    color: #74CAE8;
}

.url-color:visited {
    color: #74CAE8;
}
/*********************/

.v-separator {
    border-left: 1px solid #979797;
    height: 6vw;
    margin-left: 2em;
    margin-right: 2em;
}

.hide {
    visibility: hidden;
}

/*********************/
/*      TEXT         */
.small-font {
    font-size: small;
}

.xsmall-font {
    font-size: x-small;
}

.address {
    color: #2F2F2F;
    margin-top: 0.3em;
    font-family: 'Courier New', Courier, monospace;
    max-width: fit-content;
    word-wrap: break-word;
    word-break: break-all;
}

code {
    background-color: lightgray;
    padding: 0.2em 0.4em;
    font-size: 85%;
    margin: 0;
    border-radius: 6px;
}

/*********************/

/*********************/
/*    ABOUT          */
/*********************/
.about-back {
    color: #F547D6;
    text-decoration: none;
    text-transform: uppercase;
}

.about-back::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f060";
    margin-right: 0.3em;
}

/*********************/

/*********************/
/*    MARKDOWN       */
/*********************/
/* Based on multiple sources like GitHub's markdown */

.markdown > *:first-child {
    margin-top: 0!important;
}

.markdown h1,h2,h3,h4,h5,h6 {
    margin-top: 24px;
    margin-bottom: 16px;
}

.markdown p, pre, ul, ol {
    margin-bottom: 16px;
}

.markdown pre code {
    background-color: lightgray;
}

.markdown ul {
    padding-left: 2em;
}

.markdown li + li {
    margin-top: 0.25rem;
}