* {
    margin: 0;
    padding: 0;
}

.root {
    background-color: #F5F5F5;
    font-family: 'Roboto Thin';
    color: #383838;
}

/*********************/
/*    HEADER         */
.main-header {
    height: 8rem;
    background-color: blueviolet;
}

.header-logo {

}
/*********************/

/*********************/
/*      BODY         */

/****** Body-Header ***/
.body-header {
    justify-content: space-around;
    background-color: white;
    margin-top: -1.5rem;
}

.ecosystem-img {
    height: auto;
    max-width: 150px;
}

.ecosystem-img:hover {
    /*filter: opacity(100%);
    -webkit-filter: opacity(100%);*/
    filter: brightness(2);
    -webkit-filter: brightness(2);
    cursor: pointer;
}

.daostack-selected {
    border: 4px solid #74CAE8;
}

.aragon-selected {
    border: 4px solid #4DDEA4;
}

.daohaus-selected {
    border: 4px solid #9960B1;
}

.daostack-ecosystem:hover {
    border: 4px solid #74CAE8;
}

.daohaus-ecosystem:hover {
    border: 4px solid #9960B1;
}

.aragon-ecosystem:hover {
    border: 4px solid #4DDEA4;
}

#org-dropdown {
    flex-grow: 3;
    margin-left: 1rem;
}

/*********************/

/*********************/

/*********************/
/*      FOOT         */

.main-foot {
    display: flex;
    flex-direction: row;
    height: 10rem;
    background-color: #2F2F2F;
    color: #CCCCCC;
    font-size: x-small;
}

.foot-left {
    justify-content: space-evenly;
}

.foot-ack-logos {
    margin-right: 1.5rem;
    justify-content: space-around;
}

/*********************/

/*************************/
/*      Aligners         */
.left-padding-aligner {
    padding-left: 5%;
}

.right-padding-aligner {
    padding-right: 5%;
}

.small-text-aligner {
    margin: 0 0.2rem 0 0.2rem;
}

.foot-left-aligner {
    margin-left: 10rem;
}

.small-padding {
    padding: 2%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-evenly {
    justify-content: space-evenly;
}
/*********************/

/*********************/
/*      URL         */
.url-color {
    text-decoration: none;
}

.url-color:link {
    color: #74CAE8;
}

.url-color:visited {
    color: #74CAE8;
}
/*********************/

/*********************/
/*      SIZERS         */

.flex-size-1 {
    flex-grow: 1;
}

.flex-size-2 {
    flex-grow: 2;
}

.flex-size-3 {
    flex-grow: 3;
}

/*********************/

.v-separator {
    border-left: 1px solid #979797;
    height: 6vw;
}