.root {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-body {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.pane {
    background-color: white;
    display: flex;
    border: 1px #CFD8DC solid;
    border-top: 0;
    margin-bottom: 0.9rem;
}

.dao-selector-pane {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: xx-large;
    margin-bottom: 2rem;
}

.drop-down {
    margin-left: 0.5rem;
    width: 20rem;
    font-size: large;
}

.section {
    margin-bottom: 1rem;
}

.title-section{
    background-color: #CFD8DC;
    text-align: center;
    font-size: xx-large;
}

.graph-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.graph-pane {
    flex-direction: column;
    text-align: center;
    width: 49.5%;
}

.graph-title1 {
    text-align: center;
    font-size: x-large;
    margin: 1rem 0rem 1rem 0rem;
}

.graph-title2 {
    text-align: center;
    font-size: large;
}

.hide {
    visibility: hidden;
}